<div class="row">
  <div class="btn-group btn-breadcrumb breadcrumb-primary">
    <a href="#" class="btn btn-primary"><i class="glyphicon glyphicon-home"></i></a>
    <%= link_to t("breadcrumb.courses"), courses_path, class: "btn btn-info" %>
  </div>
  <h3><%= t("menu.my_courses", icon: content_tag(:i, "", class: "fa fa-list-alt")).html_safe %>
    <span class="badge"><%= @user_courses.size %></span>
  </h3>
</div>
<div class="row">
  <%= render partial: "common/course_of_user", collection: @user_courses, as: :user_course %>
</div>
