<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h4 class="modal-title"><%= t "title_obj.subject" %></h4>
    </div>
    <div class="modal-body">
      <%= render partial: "common/subject_not_exist_in_course", collection: subject_remaining, as: :subject %>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal"><%= t "btn.btn_close" %></button>
      <button type="button" class="btn btn-primary add-subject"><%= t "btn.btn_add_subject" %></button>
    </div>
  </div>
</div>
