.item {
  height:auto;
  margin-bottom: 10px;
}

.list-group-item {
  min-height:180px;
  box-shadow: 0 0 1px 1px rgba(20,23,28,.1), 0 3px 1px 0 rgba(20,23,28,.1);
  transition: all 0.4s;
}

.list-group-item:hover {
  box-shadow: 4px 2px 14px 1px rgba(20, 23, 28, 0.1), 0 3px 1px 0 rgba(20, 23, 28, 0.1);
}

.img-responsive {
  height: 126px;
}

p.list-group-item-text {
  overflow: hidden;
  word-wrap: break-word;
  line-height: 1.8rem;
  height: 5.2rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.title_course{
  margin-left: 20px;
  float: left;
}

.mr-10 {
  margin-right: 10px;
  float: right;
}

.course-form {
  width: 70%;
  margin: 0px auto;
}

.settings {
  padding: 12px 14px;
  background-image: url(settings.png);
  background-position: center;
  cursor: pointer;
  background-size: 28px 23px;
  background-repeat: no-repeat;
  float: right;
}

.time, .btn-block {
  float: left;
}

.btn-member {
  margin-bottom: 10px;
}

.panel.with-nav-tabs .panel-heading{
  padding: 5px 5px 0 5px;
}

.panel.with-nav-tabs .nav-tabs{
  border-bottom: none;
}

.panel.with-nav-tabs .nav-justified{
  margin-bottom: -1px;
}

.with-nav-tabs.panel-primary .nav-tabs > li > a,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
}

.with-nav-tabs.panel-primary .nav-tabs > .open > a,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-primary .nav-tabs > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li > a:focus {
  color: #fff;
  background-color: #3071a9;
  border-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.active > a:focus {
  color: #428bca;
  background-color: #fff;
  border-color: #428bca;
  border-bottom-color: transparent;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu {
  background-color: #428bca;
  border-color: #3071a9;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a {
    color: #fff;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > li > a:focus {
  background-color: #3071a9;
}

.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:hover,
.with-nav-tabs.panel-primary .nav-tabs > li.dropdown .dropdown-menu > .active > a:focus {
  background-color: #4a9fe9;
}

.img-circle-course {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.mh-100{
  min-height: 100px;
}

.item-subject {
  background: #effafbb8;
  margin: 5px 0px;
  padding: 12px;
  box-shadow: 1px 2px 1px #adadad;
  border: 1px solid #D9D9D9;
  border-radius: 5px;
  transition: 0.4s;
}

.item-subject:hover {
  box-shadow: 3px 6px 3px #adadad;
}

.pd-6 {
  padding: 6px !important;
}

.pl-10 {
  padding-left: 10px !important;
}
