$green_bold: #009688;
$blue_light: #2d74a2;
$grey_pale: #d4cfcf;
$brown: #cecece;

.word-break {
  word-wrap: break-word;
  overflow: hidden;
  line-height: 1.3em;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.h-5 {
  height: 5rem;
}

.h-4 {
  height: 3.5rem;
}

.content-subject {
  margin-top: 4px;
  animation: 0.4s;
}

.name-subject {
  color: $green_bold;
  font-weight: bold;
}

.show-content {
  cursor: pointer;
  color: $blue_light;
}

.thumbnail {
  overflow: hidden;
}

img.scale {
  transition: 0.4s;
}

img.scale:hover {
  transform: scale(1.1);
}

.descrtiption {
  background: white;
  padding: 20px 14px;
  border-top: 2px solid $brown;
  margin-bottom: 20px;
  font-family: arial;
}

.descrtiption h3{
  color: $green_bold;
}

.glyphicon {
  cursor: pointer;
  top: 0px;
}

.img-sub {
  box-shadow: 2px 2px 3px 0px $grey_pale;
}
