<div class="list-group">
  <div class="list-group-item user-card-small">
    <div class="media">
      <div class="checkbox pull-left">
        <input type="checkbox" class="user-remaining" value="">
        </label>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= user.name %></h4>
        <p><%= user.role %></p>
        <input type="hidden" value="<%= user.id %>">
      </div>
    </div>
  </div>
</div>
